<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
	<form action="/" method="post">
		<table style="margin: 50px auto;">
			<h3 style="text-align: center;">登录系统</h3>
		<tr>
			<td>用户名：</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="登录"><a href="/regerst">去注册</a></td>
			
		</tr>
	</table>
	</form>
</body>
</html>